@import 'variables';

html {
    font-size: 62.5%;
    /* calculos de REM têm sido sempre a dividir PX por 1.625
       com este truque, esse trabalho é feito de imediato
    */
}

body {
    font-family: $main-font;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#Wrapper {
    width: 980px;
    padding: 0 14px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

