@import 'variables';
header {
    padding-top: 20px;
    margin-bottom:4px;

    .highlights {
        display: flex;
        margin-bottom: 12px;

        h1 { margin-right: 15px;}

        ul {
            display: flex;

            li {
                width: 136px;
                text-align: center;
                font-size: 1.1rem; /* 11px, porque agora 1px => 0.1rem, 10px => 1rem */
                margin-right: 15px;
            }
        }
    }

    nav {
        ul {
            display: flex;

            li {
                font-size: 1.2rem;
                background-color: #e6e6e6;
                margin-right: 3px;
                padding: 5px 10px;
                border-radius: 4px 4px 0 0;

                a {
                    color: $primary-color;
                    font-weight: bold;
                    font-style: italic;
                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    background-color: $primary-color;

                    a {
                        color: #FFF;
                    }
                }
            }
        }
    }

    .nav-bottom {
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;
        padding: 5px 10px;
        border-radius: 04px 4px 4px;

        .submenu {
            padding: 5px 0;

            li {
                display: inline-block;
                padding-right: 11px;
                border-right: 1px solid #54798b;
                margin-right: 7px;

                a {
                    color: #FFF;
                    font-size: 1.2rem;
                }

                &:last-child{
                    border-right: none;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }

        .search {
            padding-top: 3px;

            input {
                font-size: 1.1rem;
                border: none;
                border-radius: 4px;
                padding: 2px 6px;
                color: $primary-color;
                vertical-align: middle;
            }

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                vertical-align: middle;
                font-size: 0;
            }

        }

        .newletter {
            padding-right: 13px;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            color: #FFF;

            img {
                margin-left: 4px;
            }
        }
    }
}


