body {
  font-family: Arial, sans-serif;
}

h2 {
  background-color: #F05922;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.68rem;
  padding: 3px;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}
table tr {
  border-bottom: 1px solid #CCC;
}
table tr th {
  background-color: #eaeaea;
  padding: 3px;
  font-weight: normal;
}
table tr td {
  text-align: center;
  padding: 3px;
}
table tr td a {
  color: #F60;
  text-decoration: none;
}
table tr td a:hover {
  text-decoration: underline;
}
table tr :first-child {
  text-align: left;
}/*# sourceMappingURL=fiel2.css.map */