body {
    font-family: Arial,sans-serif;
}

h2 {
    background-color: #F05922;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.68rem;
    padding: 3px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #333;

    tr {
        border-bottom: 1px solid #CCC;

        th {
            background-color: #eaeaea;
            padding: 3px;
            font-weight: normal;
        }

        td {
            text-align: center;
            padding: 3px;

            a {
                color: #F60;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        
        }
        :first-child {
            text-align: left;
         }     

    }
      
}