ul {
  list-style-type: none;
}
ul li {
  display: inline;
  margin-right: 20px;
}
ul li a {
  text-decoration: none;
  color: #060;
}
ul li a:hover {
  text-decoration: underline;
}

p {
  font-family: Tahoma, sans-serif;
}
p strong {
  color: #F70;
}/*# sourceMappingURL=file1.css.map */