ul {
    list-style-type: none;


    li {
        display: inline;
        margin-right: 20px;

        a {
            text-decoration: none;
            color: #060;

            &:hover{
                text-decoration: underline;
            }
        }        
    }
}

p {
   font-family: Tahoma, sans-serif;

   strong {
    color: #F70;
   }
}

