@charset "UTF-8";
/* funções são declaradas com nome,argumentos,retorno pretendido */
p {
  font-size: 1.25rem;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
  display: flex;
  height: 500px;
}
#wrapper div {
  outline: 1px solid #F00;
}

#left {
  width: 61.2244897959%;
  font-size: 1.125rem;
}

#right {
  width: 38.7755102041%;
  font-size: 1rem;
}/*# sourceMappingURL=math_funcs.css.map */