#square1 {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  float: left;
  font-weight: bold;
  color: #F00;
}

#square2 {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  float: left;
  font-weight: bold;
  color: #0F0;
}/*# sourceMappingURL=mixins.css.map */