@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variáveis em SASS permitem guardar valores utilizados em multiplas localizaçoes do nosso código para poder facilmemte alterar no futuro esse valor apenas no local central*/
html {
  font-size: 62.5%;
  /* calculos de REM têm sido sempre a dividir PX por 1.625
     com este truque, esse trabalho é feito de imediato
  */
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#Wrapper {
  width: 980px;
  padding: 0 14px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

/* variáveis em SASS permitem guardar valores utilizados em multiplas localizaçoes do nosso código para poder facilmemte alterar no futuro esse valor apenas no local central*/
header {
  padding-top: 20px;
  margin-bottom: 4px;
}
header .highlights {
  display: flex;
  margin-bottom: 12px;
}
header .highlights h1 {
  margin-right: 15px;
}
header .highlights ul {
  display: flex;
}
header .highlights ul li {
  width: 136px;
  text-align: center;
  font-size: 1.1rem; /* 11px, porque agora 1px => 0.1rem, 10px => 1rem */
  margin-right: 15px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-size: 1.2rem;
  background-color: #e6e6e6;
  margin-right: 3px;
  padding: 5px 10px;
  border-radius: 4px 4px 0 0;
}
header nav ul li a {
  color: #004060;
  font-weight: bold;
  font-style: italic;
}
header nav ul li a:hover {
  text-decoration: none;
}
header nav ul li:hover {
  background-color: #004060;
}
header nav ul li:hover a {
  color: #FFF;
}
header .nav-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #004060;
  padding: 5px 10px;
  border-radius: 4px 4px 4px;
}
header .nav-bottom .submenu {
  padding: 5px 0;
}
header .nav-bottom .submenu li {
  display: inline-block;
  padding-right: 11px;
  border-right: 1px solid #54798b;
  margin-right: 7px;
}
header .nav-bottom .submenu li a {
  color: #FFF;
  font-size: 1.2rem;
}
header .nav-bottom .submenu li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
header .nav-bottom .search {
  padding-top: 3px;
}
header .nav-bottom .search input {
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  color: #004060;
  vertical-align: middle;
}
header .nav-bottom .search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0;
}
header .nav-bottom .newletter {
  padding-right: 13px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #FFF;
}
header .nav-bottom .newletter img {
  margin-left: 4px;
}

main {
  width: 665px;
}
main .left {
  width: 390px;
  margin-right: h2;
  margin-right-font-size: 1.9rem;
}
main .rigth {
  width: 250px;
}
main .rigth h2 {
  font-size: 1.6rem;
}
main article {
  border-bottom: 1px solid #69c;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
main article h2 {
  font-weight: bold;
  margin-bottom: 4px;
}
main article h2 a {
  color: #3959f3;
}
main article .cartegory, main article .date {
  display: inline-block;
  margin-bottom: 4px;
}
main article .category {
  margin-right: 30px;
  font-size: 0.9rem;
}
main article .date {
  font-size: 1.1rem;
  color: #69c;
}
main article p {
  color: #333;
  font-size: 1.2rem;
}/*# sourceMappingURL=tsf.css.map */