
@use 'reset';
@use 'base';
@use 'header';


main {
    width: 665px;

    .left {
        width:390px;
        margin-right: 
      
        h2 {
            font-size: 1.9rem;

        }
    }

    .rigth {
        width:250px;

        h2 {
            font-size: 1.6rem;
        }
    }

    article {

        border-bottom: 1px solid #69c;
        padding-bottom: 20px;
        margin-bottom: 20px;

        h2 {
            font-weight: bold;
            margin-bottom: 4px;

            a {
                color: #3959f3;
            }
        }

        .cartegory, .date {
            display: inline-block;
            margin-bottom: 4px
        }

        .category {
            margin-right: 30px;
            font-size: 0.9rem;;
        }

        .date {
            font-size: 1.1rem;
            color: #69c;
        }

        p {
            color: #333;
            font-size: 1.2rem;
        }
    }
}